In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
import matplotlib.font_manager as fm
font_name = fm.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
plt.rc('font', family=font_name)

In [3]:
df=pd.read_csv('ulsanp.csv')
df

,가맹점ID,가맹점명,가맹점주(가입자),고객명,고객 생년월일,고객 성별,승인번호,승인시간,승인일자,거래금액,카테고리
0,MB0100025937,지XXX,여OO,김OO,1977,M,4666008,184905,20200104,95000,미용/뷰티/위생
1,MB0100026285,공XXX,박OO,남OO,1963,F,4621386,124115,20200102,2500,분식
2,MB0100026285,공XXX,박OO,송OO,1986,F,4623016,134644,20200102,7000,분식
3,MB0100026285,공XXX,박OO,김OO,1982,M,4620574,121408,20200102,8000,분식
4,MB0100026285,공XXX,박OO,조OO,1980,M,4655931,115700,20200104,17000,분식
...,...,...,...,...,...,...,...,...,...,...,...
172215,MB0100017097,참XXX,유OO,박OO,1964,F,9554670,160128,20200221,32000,일반음식점
172216,MB0100017097,참XXX,유OO,박OO,1964,F,10489249,142158,20200225,10000,일반음식점
172217,MB0100017097,참XXX,유OO,박OO,1964,F,10489435,142246,20200225,10000,일반음식점
172218,MB0100017097,참XXX,유OO,박OO,1964,F,10788886,184133,20200226,5000,일반음식점
172219,MB0100017097,참XXX,유OO,박OO,1964,F,10958959,150324,20200227,11500,일반음식점

In [4]:
df = df.filter(['승인일자','거래금액'])
df

            승인일자   거래금액
0       20200104  95000
1       20200102   2500
2       20200102   7000
3       20200102   8000
4       20200104  17000
...          ...    ...
172215  20200221  32000
172216  20200225  10000
172217  20200225  10000
172218  20200226   5000
172219  20200227  11500

[172220 rows x 2 columns]

In [8]:
df=df.groupby('승인일자').sum()
df

               거래금액
승인일자
20200101   83464481
20200102  125840897
20200103  115260206
20200104  114710532
20200105   80533810
20200106  109304098
20200107  104464119
20200108  112521003
20200109   93662554
20200110   92809825
20200111  118894144
20200112   81366473
20200113   82649775
20200114   83779741
20200115   86017227
20200116   75018500
20200117   83794174
20200118   97088725
20200119   79646665
20200120   82245465
20200121   81961885
20200122   87747837
20200123  135327672
20200124   73402749
20200125   16378860
20200126   46014950
20200127   53217799
20200128   85235400
20200129   79822366
20200130   78967638
20200131   98638989
20200201  131211460
20200202   80106990
20200203  118011085
20200204  104821872
20200205   93620230
20200206   79704990
20200207  102372318
20200208  116139990
20200209   92696139
20200210   87880210
20200211   90899488
20200212   83178540
20200213   89884815
20200214  107910420
20200215  114202382
20200216   73026730
20200217   89402340
20200218   77956195
20200219   92054256
20200220   83084466
20200221   95496175
20200222  100874547
20200223   70916584
20200224   76921648
20200225   49789670
20200226   59995130
20200227   57691818
20200228   62174480
20200229   82387632

In [10]:
df=df.groupby('승인일자').cumsum()
df

               거래금액
승인일자
20200101   83464481
20200102  125840897
20200103  115260206
20200104  114710532
20200105   80533810
20200106  109304098
20200107  104464119
20200108  112521003
20200109   93662554
20200110   92809825
20200111  118894144
20200112   81366473
20200113   82649775
20200114   83779741
20200115   86017227
20200116   75018500
20200117   83794174
20200118   97088725
20200119   79646665
20200120   82245465
20200121   81961885
20200122   87747837
20200123  135327672
20200124   73402749
20200125   16378860
20200126   46014950
20200127   53217799
20200128   85235400
20200129   79822366
20200130   78967638
20200131   98638989
20200201  131211460
20200202   80106990
20200203  118011085
20200204  104821872
20200205   93620230
20200206   79704990
20200207  102372318
20200208  116139990
20200209   92696139
20200210   87880210
20200211   90899488
20200212   83178540
20200213   89884815
20200214  107910420
20200215  114202382
20200216   73026730
20200217   89402340
20200218   77956195
20200219   92054256
20200220   83084466
20200221   95496175
20200222  100874547
20200223   70916584
20200224   76921648
20200225   49789670
20200226   59995130
20200227   57691818
20200228   62174480
20200229   82387632

In [12]:
df['거래금액'].plot(.cumsum(), grid=True, figsize=(20,5))
plt.ylabel('거래금액')
plt.title('일자별 거래금액')

SyntaxError: invalid syntax (<ipython-input-12-8749eef9afc2>, line 1)